<h1>Songs </h1>
<% @songs.each do |song| %>
  <ul>
      <h4>
        <li>
          <a href="<%= song_path(song) %>"> 
            <%= song.artist_name %> - <%= song.title %>
          </a>
        </li> 
      </h4>
  </ul>
<% end %>